/* 
    Created on : 22 Jan 14, 1:18:51
    Author     : DAUD D. SIMBOLON <daud.simbolon@gmail.com>
*/




body {
    padding-top: 70px;
}


.required-input{
    color: #f53535;
}

.warning-stocks, .warning{
	background-color: #FFDEEA;
}
.success{
	background-color: #D4FFD4;
}

.number{
	text-align: right;
}

.login-box {background: #EEE; border: 1px solid #DDD;width: 90%}
.login-box table tr td{padding:10px;}
.login-box h1{text-align: center}

.ui-autocomplete {
  width: 200px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

li.ui-menu-item {
  padding-left: -15px;
  font-size: 12px;
  list-style: none;
  padding: 5px;
  cursor: pointer;
}
li.ui-menu-item:hover {
	background-color: #EEE;
}

.ui-helper-hidden-accessible{display: none}

.dashboard{margin-top: 40px }
.dashboard .penjualan{
  border:1px solid #0f9159;
  padding:5px;
  background-color: #28B779;
  margin-bottom: 10px;
}
.dashboard .pembelian{
  border:1px solid #b22725;
  padding:5px;
  background-color: #C9302C;
  margin-bottom: 10px;
}

.dashboard .hutang{
  border:1px solid #2b5aa5;
  padding:5px;
  background-color: #3b73d3;
  margin-bottom: 10px;
}

.dashboard .piutang{
  border:1px solid #8866b7;
  padding:5px;
  background-color: #a07dce;
  margin-bottom: 10px;
}

.dashboard small{color:#FFF; opacity: 0.8}
.dashboard h2{text-align: right;color:#FFF;font-size: 24px}

.summery-list{height: 230px; }

.panel-footer .col-md-9 a {
  background: #4B9DB5;
  padding: 4px 5px;
  border-radius: 4px;
  color: #FFF;
}
